@import url('///home/alex/Desktop/week2/images/pic.jpg');
body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKgptWn0V_s260-QnVU75bg8vU-INm5EZ9vtAOx0sLKSkZoZxI');
  background-size: cover;
}
h1{
  color: rgb(8, 8, 8);
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 670px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: #626f92;
  box-shadow: 1px 0px 2px #ffffff;
}

.akan{
  font-size: 40px;
  padding-top: 20px;
  font-weight: bold;
  font-family: system-ui;
  color: #1e0b88;
}
.top-form{
  margin-top: 30px;
}
.labels{
  font-family: monospace;
  font-weight: lighter;
  font-size: 25px;
  color: #6150c1;
}
.p-text{
  margin: 30px 30px 30px 10px;
  color: #123857;
  font-size: 20px;
  font-family: system-ui
}
.genders{
  margin-left: 30px;
  font-size: 60px;
}
.radio-button{
  font-size: 25px;

}
.btn{
  margin-left: 50px;
  margin-top: 20px;
  height: 45px;
  width: 200px;
  border-radius: 20px;
}
.q-text{
  color: #fdd043;
  font-size: 30px;
  font-weight: bold;
  margin: 80px 20px 20px 10px;
}
#result{
  margin-top: 30px;
  color: #000000;
  font-size: 28px;

}

#p-text{
  margin: 30px 30px 30px 10px;
  color: #0b538f;
  font-size: 26px;
  margin-left: 0px;
  font-family: system-ui;
}
.image{
  float: right;
  padding-left: ;
  padding-right: ;
  padding-bottom: 0%;
}
.amg-logo{
  margin-top: -6%;
  margin-left: 18%;

}